body {
    background: white;
}

header {
    height: 100px;
    width: 100%;
    margin: 0;
    text-align: center;
    line-height: 100px;
}

nav {
    background-color: rgb(230, 230, 230);
    height: 50px; 
    border-bottom: 1px solid black;
}

nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

nav a{
    text-decoration: none;

}

.clearfix {
    clear: both;
}

#content {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

#content img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}


.article {
    color: black;
}

section#map {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    box-sizing: border-box;
}

section#map h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

section#map p {
    font-size: 18px;
    margin-bottom: 20px;
}

iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

footer {
    background: rgb(230, 230, 230);
    color:black;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

footer i {
    margin: 0 10px;
    font-size: 20px;
    color: white;
}

.container {
    display: flex;
}

.container a{
    text-decoration: none;
}

.box {
    flex: 0 0 500px;
    height: 600px;
    background-color: #eaeaea;
    margin-right: 20px;
    box-sizing: border-box;
    padding: 20px;

}


.box:last-child {
    margin-right: 0;
    flex-shrink: 0; 

}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .container {
        flex-wrap: wrap;
    }

    .box {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .productos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .box {
        flex: 0 0 350px;
        height: 500px;
        background-color: #eaeaea;
        margin-right: 20px;
        box-sizing: border-box;
        padding: 20px;
    
    }
    
}

@media screen and (max-width: 850px) {
    #content {
        width: 100%;
    }

    iframe {
        height: 300px;
    }
}

