body{
    background: white;
    font-family: Arial, Helvetica, sans-serif
}

.container{
    width: 80%;
    max-width: 1000px;
    margin: 0px auto;
    border: 1px solid black;

}

header{
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color:white;

}

nav{
    background: lightblue;
    height:50px; 
    border-bottom: 1px solid black
    
}

nav ul li{
    float:left;
    list-style: none;
    margin:10px;
    line-height: 30px;

}

.clearfix{
    clear:both;

}

#content{
    width: 70%;
    background: #fff;
    padding: 20px;
    float:left;
    box-sizing: border-box;
}

#content img {
    max-width: 100%;
    height:auto;
    box-sizing: border-box;
}

.article{
    color:black;
}

aside{
    display: inline-block;
    width:30%;
    box-sizing: border-box;
    min-height: 400px;
    background: lightblue;
}

footer{
    background: black;
    color: white;
    height: 50px;
    line-height:50px;
    text-align: center;
}

.resolucion{
    width: 99%;
    text-align: center;

}

@media screen and (max-width: 800px){
    content {
        width:70%;
    }

    aside {
        width:30%;

    }
}

@media screen and (max-width: 800px){

    .container{
        width:100%;

    }

}
